.authors {
  width: 100%;
  padding: 0.9rem 5%;
  /* margin-top: 80px; */
}

.author {
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16);
  width: 70%;
  margin: 2rem 0;
  padding: 3.5rem;
  position: relative;
}

.author.odd {
  float: right;
}

.author-bio {
  color: #464646;
  display: inline-block;
  margin-right: 2rem;
  vertical-align: middle;
  width: 80%;
}

.author-bio__name {
  letter-spacing: 0.2px;
}

.author-bio__title {
  color: #737373;
}

.author-bio__description {
  margin: 2rem 0;
}
.author-social {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 15%;
}

.author-social__pic {
  height: 106px;
  width: 106px;
  border-radius: 50%;
  border: 3px solid #4DB6AC;
  vertical-align: top;
}

.author--new-post {
  padding: 0.3rem 0.6rem;
  border: 1px solid #4DB6AC;
  border-radius: 5px 10px;
  background-color: aquamarine;
  color: rgb(117, 117, 117);
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  right: 20px;
}