main{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 480px;
  box-shadow: #0000001c 1px 1px 2px 0px;
  border: 1px solid rgb(241, 241, 241);
  padding: 40px;
}

#logo h1 {
  text-transform: uppercase;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-btn {
  width: 100%;
}