main {
  width: 100%;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 10%;
}

#logout {  
  margin-left: auto;
}

#logout button{
  border-radius: 2rem;
  padding: 5px 15px;
}