.main-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem 5%;
}

#logout {  
  margin-left: auto;
}

#logout button{
  border-radius: 2rem;
  padding: 0.3rem 0.9rem;
}