.main-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.9rem 5%;
}

#logo {  
  margin-right: auto;
}

#logout button {
  border-radius: 2rem;
  padding: 0.3rem 0.9rem;
  margin-left: 0.9rem;
}